.idea/
.idea/*
/*.txt
/*.php
/*.html
/.htaccess
wp-admin/
wp-admin/*
wp-includes/
wp-includes/*
wp-content/languages/
wp-content/languages/*
wp-content/upgrade/
wp-content/upgrade/*
wp-content/uploads/
wp-content/uploads/*